<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./vue.js"></script>
</head>
<body>
<div id="test" @click="click()">
    <div v-if="c">
        <div  v-for="item in list" key="item">{{item}}</div>
    </div>
    <div v-else="c">
        <div v-for="(item,key,value) in map" key="item" @click="click(item)">{{item}}</div>
    </div>
    <input v-model="a"/>
    <img :src="src"/>
    <p>{{computedTest}}</p>
    <test-component props1="sdsds" @emitTest="emitTest"></test-component>
</div>
<script>
    function GVueTest(){
        let gvue = new Vue({
            el: '#test',
            data() {
                return {
                    list: [1, 2, 3],
                    map: {
                        a: '11',
                        b: '22',
                    },
                    c:true,
                    a: 'haha',
                    src: 'https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=3339202615,3879308162&fm=26&gp=0.jpg'
                }
            },
            components: {
                testComponent: {
                    template: `<div>
<p>{{props1}}</p>
<button @click="click">dsds</button>
</div>`,
                    props: {
                        props1: {
                            type: String,
                            default: 'props1'
                        }
                    },
                    data() {
                        return {
                            a: '2222'
                        }
                    },
                    methods: {
                        click() {
                            this.$emit('emitTest')
                        }
                    },
                    created(){
                        console.log('子组件created')
                    }
                }
            },
            computed: {
                computedTest() {
                    return this.a + 'cccc'
                }
            },
            created() {
                console.log('created')
            },
            mounted() {
                console.log('mounted')
            },
            methods: {
                click(e) {
                    this.a = 'ddd'
                },
                emitTest(){
                    console.log('子组件事件触发')
                }
            }
        })
        console.log(gvue)
    }
    GVueTest()
</script>
</body>
</html>