<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="test" @click="click()">
    <div v-if="c">
        <div  v-for="item,index in list" :key="item"  @click="click(item,index)">{{item}}</div>
    </div>
    <div v-else>
        <div v-for="(item,key,value) in map" :key="item" @click="click(item)">{{item}}</div>
    </div>
    <input v-model="a"/>
    <img :src="src"/>
    <p>{{computedTest}}</p>
    <test-component props1="sdsds" @emitTest="emitTest"></test-component>
</div>

<div id="test2">
    <test-component>
        <div slot="slot1">{{father}}</div>
        <div slot="slot2"></div>
    </test-component>
</div>
</body>


</html>